{
  "projects": {
    "default": "theme-kitchen-sink-project"
  },
  "targets": {
    "theme-kitchen-sink-project": {
      "hosting": {
        "theme-kitchen-sink": [
          "theme-kitchen-sink"
        ]
      }
    }
  }
}
